*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: roboto;
}
a{
    text-decoration:none;
}
header{
    display:flex;
    justify-content:space-between ;
    align-items:center ;
    padding:32px;
    background-color: rgb(213, 218, 218);
}
 header .left{
    display:flex ;
    gap:40px;
    align-items: center;
}
header nav ul{
    display: flex;
    font-family: Roboto;
    font-size: 16px;
    

}
header ul li{
    list-style:none;
}
header ul li a{
    padding:8px 16px;
    color:rgb(52, 48, 48);
    
}
header .right button{
padding:8px 16px ;
background-color: rgb(49, 49, 235);
border-radius:6px ;
color: white;
border: none;
font-weight:600 ;
}
.hero{
    padding:80px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.hero h1{
    font-size:48px;
    font-family:"Poppins",sans-serif ;
    margin-bottom: 16px;
}
.hero h1 span{
    font-size: 96px;
    font-weight: bold;
    color:blue;
}
.hero p{
    color:black;
    margin-bottom: 16px;
    font-size: 16px;
    max-width:1200px ;
}
/* .hero btn{
    padding:8px 16px;
    font-size: 18px;
    font-weight: 600;
    border-radius:6px ;

} */
.l{
    border:2px;
    background-color: blue;
    color:white;
    padding:8px 16px;
    font-size: 18px;
    font-weight: 600;
    border-radius:6px ;
}
.r{
    border:2px;
   
    padding:8px 16px;
    font-size: 18px;
    font-weight: 600;
    border-radius:6px ;
}

.about{
    padding:80px;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.about .right{
    
    width: 100%;
}
.about .right .ex h3{
    font-size: 42px;
    font-weight: 700;
    background-color: blue;
}
header .left img{
    height: 30px;
    width: 30px;
}
.hero .left span{
    color:blue;
    font-weight: 600;
    font-size: 40px;
     font-family:"Poppins",sans-serif  ; 
}
h3{
    font-size: 30px;
}
.about{
    background-color: rgb(198, 189, 176);
}
 .ex {
    background-color: blue;
    height: 65px;
    width: 200px;
   

}
.ex h3{
    color:white;
    padding: 2px 30px;
}
.about .right{
    position: relative;

}
.about .ex{
    position: absolute;
    left:45%;
    top:70%;
}
.about .right img{
    height:350px ;
}
.ex p{
    color:white;
padding:2px 30px ;
}
 